extends layout

block main
  p
    a.button(href='/books/new') Create New Book
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each result in results
        tr
          td= result.title
            a(href=`/books/${result.id}`)
          td= result.author
          td= result.genre
          td= result.year
